@model Vidly.ViewModels.DefaultCustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>


@if (Model.Customers.Count == 0)
{
    <text>We don't have any customers yet.</text>
}
else
{
    <table title="Customer" class="table table-bordered table-hover">
        <th>Customer</th>
        @foreach (var customer in Model.Customers)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
            </tr>
        }
    </table>
}
